.header__container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}
.half__width {
  width: 50%;
}
img {
  width: 100%;
  height: auto;
}
.heading-text {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 0;
  color: #3b3636;
}
.heading-subtext {
  font-size: 1rem;
}
.button__custom {
  border-radius: 6px;
  margin-right: 1rem;
  border-color: none;
}
.get__started__btn {
  box-shadow: 1px 1px 5px #3e3e3e;
  background: #001529;
}
.image-col {
  margin-left: 1rem;
}
@media (max-width: 600px) {
  .header__container {
    flex-direction: column;
  }
  .image-col {
    order: -9999;
  }
  .half__width {
    width: 100%;
  }
}
