.img-fluid {
  width: 100%;
  height: auto;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1rem;
}
.ant-typography {
  text-align: justify;
}
.gif-container {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .gif-container {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
