.info-card {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}
.ant-card {
  background: #FFFFFF;
  /* smoke-300 */
  border: 1px solid #E0E6ED;
  box-sizing: border-box;
  border-radius: 10px;
}
.card-user-info-container {
  width: 45%;
}
.welcome-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #0E2547;
  margin: 0;
}
.welcome-text-muted {
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  letter-spacing: 0.01em;
  /* smoke-dark */
  color: #9DA8B6 !important;
}
